{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/kachnazkoci"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/kachnazkoci"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://www.twitter.com/kachnazkoci"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/kate%C5%99ina-kr%C3%A1tk%C3%A1-a6524547/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://www.instagram.com/kachnazkoci/" target="_blank">KachnaZKoci</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->