{% load static %}
<!-- ================================
Start Navigation Bar
================================= -->
{% block navbar %}

    <div class="wrapper">
        <div class="section">
            <div class="top_navbar">
                <div class="hamburger">
                    <a href="#">
                        <b class="fas fa-bars"></b>
                    </a>
                </div>
{#                <form class="d-flex" method="post" action="{% url 'search_location' %}">#}
                    {% csrf_token %}

                    <input class="form-control me-2"
                           type="search" name="search" placeholder="
                       Search" aria-label="Search..">
                    <button class="btn
                btn-outline-secondary" type="
                submit"> SEARCH
                    </button>
                </form>
            </div>

        </div>
        <div class="sidebar">
            <div class="profile">
                <img src="https://www.kindpng.com/picc/m/334-3347394_healthy-food-filled-icon-transparent-healthy-food-icon.png"
                     alt="food_picture">
                <h3>Food</h3>
                <p>Good food is wise medicine.</p>

            </div>
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'food' %}">
                        <span class="icon"><i class="bx-food-menu"></i></span>
                        <span class="item">Food</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'food_create' %}">
                        <span class="icon"><i class="cook bx-food-tag"></i></span>
                        <span class="item">Create food</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'recipes' %}">
                        <span class="icon"><i class="fas fa-person-booth"></i></span>
                        <span class="item">Recipes</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'recipe_create' %}">
                        <span class="icon"><i class="cook bx-food-tag"></i></span>
                        <span class="item">Create recipe</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Contact</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">Admin</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock navbar %}
<!-- ================================
End Navigation Bar
================================= -->