{% extends 'base_user.html' %}
{% load static %}
{% block content %}
    <div style="text-align: right; padding-right:120px; color: rgb(5, 68, 104)">{{ object.name }}<br>
        <sup>{{ object.timestamp }}</sup>
        <a href="{% url "user_update" user.id %}">
            <img src="{% static 'images/user_update.png' %}" alt="update" title="Click for update user" width="30"
                 height="30">
            {% comment %}jak zařídím, abych se po odkliknutí buttonu update blog, dostala rovnou na blog.html?{% endcomment %}
        </a>
    </div>
    Title: {{ object.title }}<br>
    Name: {{ object.name }}<br>
    Age: {{ age }}<br>
    Gender: {{ object.get_gender_display }}<br>
    Birth date: {{ object.birth_date|date:"d.m. Y"}}<br>
    BMI: {{ bmi.0}}<br>
    BMI value: {{ bmi.1}}<br>
    What is your target?: {{ object.target }}<br>
    How active are you?: {{ object.activity }}<br>
    Ideal Daily Calories Intake: {{ ideal_calories_intake }} <br>
    Protein: {{ protein_calculation }} [g]<br>
    Carbs: {{ carbs_calculation }} [g]<br>
    Fats: {{ fats_calculation }} [g]<br>

{% endblock %}