{% extends 'base_food.html' %}
{% load static %}
{##}
{#<!-- ================================#}
{#Start SEO blocks#}
{#================================= -->#}
{#{% block title %}{% endblock %}#}
{#{% block decription %}{% endblock %}#}
{#{% block keywords %}{% endblock %}#}
{#<!-- ================================#}
{#END SEO blocks#}
{#================================= -->#}
{##}
{#<!-- ================================#}
{#Start CSS blocks#}
{#================================= -->#}
{#{% block extend_header %}{% endblock %}#}
{#<!-- ================================#}
{#END CSS blocks#}
{#================================= -->#}
{##}
{#<!-- ================================#}
{#Start script blocks#}
{#================================= -->#}
{#{% block extend_footer %}{% endblock %}#}
{#<!-- ================================#}
{#END script blocks#}
{#================================= -->#}
{##}
{#<!-- ================================#}
{#Start Content#}
{#================================= -->#}
{#{% block content %}#}
{#<section>#}
{#  <div class="innerPageBannerCol">#}
{#    <div class="container">#}
{#      <div class="row g-4 g-md-3  align-items-center">#}
{#        <div class="col-md-6">#}
{#          <div class="bannerContent">#}
{#            <h1 class="xlTitle pb-md-3">{{object.name}}</h1>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="row">#}
{#        <div class="col-md-auto">#}
{#          <div class="authorCol">#}
{#            <h4 class="smTitle pb-3">{{object.author}}</h4>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md">#}
{#          <h4 class="smTitle pb-3">{{object.timestamp}}</h4>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</section>#}
{##}
{#<section>#}
{#  <div class="sectionSpaceSm">#}
{#    <div class="container">#}
{#      {{object.body|safe}}#}
{#    </div>#}
{#  </div>#}
{#</section>#}
{##}
{#{% endblock %}#}
{#<!-- ================================#}
{#End Content#}
<!-- =================================

Start CSS blocks
================================= -->
{% comment %}{% block extend_header %}
{% endblock %}{% endcomment %}
<!-- ================================
END CSS blocks
================================= -->


{% block content %}
    <div style="padding-left:16px">
        <h2>Nutrition - Blog - {{ object.name }}</h2>
    </div><br>
    <div style="padding-left:250px">
    {% if object.image %}
    <img src="{{ object.image.url }}" style="width: 400px; height: 400px; margin-right: 25px; float: left">
    {% endif %}
    </div>
    <div style="text-align: right; padding-right:120px; color: rgb(5, 68, 104)">{{ object.author }}<br>
        <sup>{{ object.timestamp }}</sup>
        <a href="{% url "blog_update" blog.id %}">
            <img src="{% static 'images/update.png' %}" width="20" height="20">
            {% comment %}jak zařídím, abych se po odkliknutí buttonu update blog, dostala rovnou na blog.html?{% endcomment %}
        </a>
    </div>
    <br>

    <div class="container">
        {{ object.body }}<br>
        {{ object.description }}
    </div>
    <br>
{% endblock %}