{% extends 'base_food.html' %}
{% block content %}
    <div style="padding-left:16px">
          <h2>Nutrition - Food - {{ object.name }}</h2>
        </div>
    Name: {{ object.name }}<br>
    Created: {{ object.created|date:"d.m Y" }}<br>
    kCal: {{ object.kcal }}<br>
    Protein: {{ object.protein }}<br>
    Fats: {{ object.fats }}<br>
    Carbs: {{ object.carbs }}<br>
    Recipe:<br><br>
    {% for recipe in object.recipes.all %}
        {{ recipe.name }}<br>
    {% endfor %}
    <br><br>
{% endblock %}